[submodule "powerbox-http-proxy"]
	path = powerbox-http-proxy
	url = https://github.com/zenhack/powerbox-http-proxy
[submodule "leaflet-search"]
	path = leaflet-search
	url = https://github.com/stefanocudini/leaflet-search
[submodule "generate-data/tilemaker"]
	path = generate-data/tilemaker
	url = https://github.com/systemed/tilemaker
[submodule "generate-data/go-pmtiles"]
	path = generate-data/go-pmtiles
	url = https://github.com/protomaps/go-pmtiles
